@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
    .logo-main
        width: 50px
        height: 50px
        margin-right: 15px
    .logo-descr
        font-size: 16px
    .header-bullit-descr
        font-size: 14px
    .contacts 
        a
            font-size: 13px
    .btn
        margin-bottom: 10px
    .b_wrapper
        margin: 20px auto
    .warning
        background-size: 100% 100%
    h2,p
        br 
            display: none
    .consulting 
        .line
            margin: 20px 0
    .consulting-item 
        p
            text-align: center
            margin-bottom: 10px
    .step-img
        min-width: 80px
        min-height: 80px
    .map_wrapper
        height: 560px
    .map-info
        max-width: 100%
        top: 157px
        right: 0
    .contacts-nubmer
        font-size: 20px
    
// ≥768px
+media-breakpoint-down(sm)
    header, footer
        background-color: #eff2f6
        padding: 0
    .logo-descr
        font-size: 11px
        line-height: 14px
        margin: 15px 0
        br
            display: inline
    .fifth-screen
        padding: 44px 0
        text-align: center
    .blank-descr 
        h2 
            font-size: 25px
        .hl
            margin: 20px auto
    .sixth-screen.screen
        background-size: 225% 100%!important
    .button-call
        width: 62px
        border-left: 1px solid #d8dee6
        a
            margin: 0 auto
            

    .bullet_item
        .sub
            height: auto
    
//   .blank
//        position: relative
//        top: 0
//        right: auto
//        margin: 10px auto 

// ≥576px
+media-breakpoint-down(xs)
    .main-screen
        padding: 30px 0 40px
    h1
        font-size: 40px
        text-align: left
        br
            display: none
    .second-screen 
        .container 
            .row 
                h2
                    font-size: 23px
                    text-align: center
    h2
        font-size: 23px
        text-align: center
    .second-bullet-row
        padding: 30px 0
    .bullet-descr
        br
            display: none
    .dotted-top, .dotted-bottom
        display: none
    .bullit
        margin-bottom: 20px
    .main-bullit-row
        margin: 25px 0
    .slider-item
        padding: 20px 33px 20px 15px
        h3
            font-size: 20px
    .slider-descr
        margin-top: 15px
    .slick-next, .slick-prev
        top: 100%
    .slick-next
        right: 0
    .slick-prev
        left: 0
    .slick-dots 
        width: 80%
        margin: 40px auto 0
    .warning 
        p
            font-size: 16px
    h1
        font-size: 24px
    .first-child
        margin-left: 26px
    .green-btn, .white-btn
        font-size: 12px
        padding: 0
    .popup
        padding: 20px
    .screenshot
        width: 100%
    .map-info
        top: 108px
@media (max-width: 425px)
    .warning
        padding: 5px
    h2, .third-screen h2, .steps-header
        font-size: 23px
    .blank-descr 
        h2
            font-size: 21px
        p
            font-size: 18px
    .sixth-screen 
        .column 
            h3
                font-size: 23px
            p
                font-size: 18px
    .step-descr 
        p
            font-size: 16px
    .bullet_item 
        p
            font-size: 12px
    .warning 
        p
            font-size: 14px
    .info-descr
        font-size: 14px
    .bold-heading
        font-size: 20px
    .fancybox-content
        left: 2px
@media (max-width: 359px)
    .green-btn, .white-btn 
        font-size: 11px
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)
    
// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
